/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --textSize: var(--percentage);
    --time: 1s;
}
/* Default application's styling */
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header {
    padding: calc(var(--percentage) / 100);
    font-size: calc(var(--textSize) * 1.8);
}
#Homepage main {
    margin: calc(var(--percentage) / 100);
}
#Homepage main header {
    padding: calc(var(--percentage) * 0);
    font-size: var(--textSize);
}
#Homepage main header div {
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
#Homepage main header div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
}
#Homepage main div div {
    display: flex;
    width: var(--percentage);
}
#Homepage main div div div {
    display: block;
    width: calc(var(--percentage) / 7);
}
#Homepage main div div div:nth-child(1) {
    width: calc(var(--percentage) / 35);
}
#Homepage main div div div:nth-child(6) {
    width: calc(var(--percentage) / 21);
}
#Homepage main div div div:nth-child(5) {
    width: calc(var(--percentage) * (37 / 105));
}
#Homepage footer {
    font-size: calc(var(--textSize) * 0.9);
}
