/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tabletCoefficient: 0.75131480090157776108189331329827;
    --textSize: calc(var(--percentage) * var(--tabletCoefficient) * 1.21);
}
/* Default application's styling */
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
header {
    padding: calc(var(--percentage) / 100);
    display: flex;
}
header div {
    width: calc(var(--percentage) / 4);
    font-size: calc(var(--textSize) * 1.8);
}
header div:nth-child(1) {
    width: calc(var(--percentage) / 2);
}
main {
    margin: calc(var(--percentage) / 100);
}
main header {
    padding: calc(var(--percentage) * 0);
    font-size: var(--textSize);
    display: block;
}
main header div {
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
    width: unset;
    font-size: var(--textSize);
}
main header div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
    width: unset;
}
main header div:nth-child(2) {
    width: unset;
}
main div div {
    display: flex;
    width: var(--percentage);
    font-size: var(--textSize);
    border: solid calc(var(--pixelate) / 1080) var(--color5);
    padding: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
    border-left: unset;
    border-right: unset;
}
main div div div {
    display: flex;
    width: calc(var(--percentage) / 7);
    border: unset;
    padding: calc(var(--percentage) * 0);
}
footer {
    font-size: calc(var(--textSize) * 0.9);
}
body[id*="Customers"] main form {
    width: calc(var(--percentage) / 2);
    padding: calc(var(--percentage) * 0) calc(var(--percentage) / 4);
}
body[id*="Customers"] main form div {
    display: flex;
    width: var(--percentage);
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
body[id*="Customers"] main form div div {
    display: block;
    margin: calc(var(--percentage) * 0);
    width: calc(var(--percentage) / 2);
}
body[id*="Customers"] main form div div:nth-child(1) {
    width: calc(var(--percentage) / 3);
}
body[id*="Customers"] main form div div:nth-child(2) {
    width: calc(var(--percentage) * (2 / 3));
}
body[id*="Customers"] main form div div:nth-child(2) input {
    width: -webkit-fill-available;
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) {
    display: flex;
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) div {
    display: block;
    width: calc(var(--percentage) / 2);
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) div input {
    width: unset;
}
body[id*="Customers"] main form div:nth-child(7) {
    justify-content: center;
}
body[id*="Customers"] main form div:nth-child(7) button,
#Integer main form div button,
#String main form div button {
    padding: calc(var(--percentage) / 80) calc(var(--percentage) / 40);
    font-size: calc(var(--textSize) * 1.1);
    border: none;
}
body[id*="Customers"] main form #response {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: var(--percentage);
    justify-content: center;
}
body[id*="Customers"] main form #response h1 {
    margin: calc(var(--percentage) * 0);
}
main div div div:nth-child(1) {
    width: calc(var(--percentage) / 20);
}
main div div div:nth-child(6) {
    width: calc(var(--percentage) / 14);
}
main div div div:nth-child(5) {
    width: calc(var(--percentage) * (43 / 140));
}
main div div div div {
    display: block;
}
main div div div:nth-child(1) div:nth-child(1) {
    width: calc(var(--percentage) * 0.75);
}
main div div div:nth-child(1) div:nth-child(2) {
    width: calc(var(--percentage) / 4);
}
main div div div:nth-child(2) div:nth-child(1),
main div div div:nth-child(4) div:nth-child(1) {
    width: calc(var(--percentage) * 0.65);
}
main div div div:nth-child(2) div:nth-child(2),
main div div div:nth-child(4) div:nth-child(2) {
    width: calc(var(--percentage) * 0.35);
}
main div div div:nth-child(3) div:nth-child(1) {
    width: calc(var(--percentage) * 0.78);
}
main div div div:nth-child(3) div:nth-child(2) {
    width: calc(var(--percentage) * 0.22);
}
main div div div:nth-child(6) div:nth-child(1) {
    width: calc(var(--percentage) * 0.8);
}
main div div div:nth-child(6) div:nth-child(2) {
    width: calc(var(--percentage) / 5);
}
main div div div:nth-child(7) div:nth-child(1) {
    width: calc(var(--percentage) * 0.82);
}
main div div div:nth-child(7) div:nth-child(2) {
    width: calc(var(--percentage) * 0.18);
}
main div div div:nth-child(5) div:nth-child(1) {
    width: calc(var(--percentage) / 6);
}
main div div div:nth-child(5) div:nth-child(2) {
    width: calc(var(--percentage) * (5 / 6));
}
main header div:nth-child(3) {
    width: calc(var(--percentage) / 3);
    margin: calc(var(--percentage) / 200) calc(var(--percentage) / 3);
    display: flex;
    font-size: var(--textSize);
}
main header div:nth-child(3) input {
    width: calc(var(--percentage) * (19 / 20));
    font-size: var(--textSize);
}
main header div:nth-child(3) a {
    width: calc(var(--percentage) / 20);
    padding: calc(var(--percentage) / 100) calc(var(--percentage) / 200);
}
#Integer header div:nth-child(1) {
    width: calc(var(--percentage) / 3);
}
#Integer header div:nth-child(2) {
    width: calc(var(--percentage) * (2 / 3));
}
#Integer main div form,
#String main div form {
    width: calc(var(--percentage) / 2);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 4);
}
#Integer main div form input,
#String main div form input {
    width: var(--percentage);
}
#Integer main div form div,
#String main div form div {
    display: flex;
    justify-content: center;
    border: none;
    padding: calc(var(--percentage) * 0);
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
    width: var(--percentage);
}
#Integer main,
#String main {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--percentage) * 0.98);
}
#Integer main div,
#String main div {
    width: calc(var(--percentage) / 2);
}
#Integer main div:nth-child(3),
#String main div:nth-child(3) {
    text-align: center;
    width: var(--percentage);
}
#String main div:nth-child(1) form input {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
