/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tabletCoefficient: 0.75131480090157776108189331329827;
    --textSize: calc(var(--percentage) * var(--tabletCoefficient) * 1.21);
}
/* Default application's styling */
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header,
body[id*="Customers"] header {
    padding: calc(var(--percentage) / 100);
    font-size: calc(var(--textSize) * 1.8);
}
#Homepage main,
body[id*="Customers"] main {
    margin: calc(var(--percentage) / 100);
}
#Homepage main header,
body[id*="Customers"] main header {
    padding: calc(var(--percentage) * 0);
    font-size: var(--textSize);
}
#Homepage main header div,
body[id*="Customers"] main header div {
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
#Homepage main header div:nth-child(1),
body[id*="Customers"] main header div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
}
#Homepage main div div {
    display: flex;
    width: var(--percentage);
    font-size: var(--textSize);
    border: solid calc(var(--pixelate) / 1080) var(--color5);
    padding: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
    border-left: unset;
    border-right: unset;
}
#Homepage main div div div {
    display: flex;
    width: calc(var(--percentage) / 7);
    border: unset;
    padding: calc(var(--percentage) * 0);
}
#Homepage footer {
    font-size: calc(var(--textSize) * 0.9);
}
body[id*="Customers"] main form {
    width: calc(var(--percentage) / 2);
    padding: calc(var(--percentage) * 0) calc(var(--percentage) / 4);
}
body[id*="Customers"] main form div {
    display: flex;
    width: var(--percentage);
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
body[id*="Customers"] main form div div {
    display: block;
    margin: calc(var(--percentage) * 0);
    width: calc(var(--percentage) / 2);
}
body[id*="Customers"] main form div div:nth-child(1) {
    width: calc(var(--percentage) / 3);
}
body[id*="Customers"] main form div div:nth-child(2) {
    width: calc(var(--percentage) * (2 / 3));
}
body[id*="Customers"] main form div div:nth-child(2) input {
    width: -webkit-fill-available;
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) {
    display: flex;
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) div {
    display: block;
    width: calc(var(--percentage) / 2);
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) div input {
    width: unset;
}
body[id*="Customers"] main form div:nth-child(7) {
    justify-content: center;
}
body[id*="Customers"] main form div:nth-child(7) button {
    padding: calc(var(--percentage) / 80) calc(var(--percentage) / 40);
    font-size: calc(var(--textSize) * 1.1);
    border: none;
}
body[id*="Customers"] main form #response {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: var(--percentage);
    justify-content: center;
}
body[id*="Customers"] main form #response h1 {
    margin: calc(var(--percentage) * 0);
}
#Homepage main div div div:nth-child(1) {
    width: calc(var(--percentage) / 20);
}
#Homepage main div div div:nth-child(6) {
    width: calc(var(--percentage) / 14);
}
#Homepage main div div div:nth-child(5) {
    width: calc(var(--percentage) * (43 / 140));
}
#Homepage main div div div div {
    display: block;
}
#Homepage main div div div:nth-child(1) div:nth-child(1) {
    width: calc(var(--percentage) * 0.75);
}
#Homepage main div div div:nth-child(1) div:nth-child(2) {
    width: calc(var(--percentage) / 4);
}
#Homepage main div div div:nth-child(2) div:nth-child(1),
#Homepage main div div div:nth-child(4) div:nth-child(1) {
    width: calc(var(--percentage) * 0.65);
}
#Homepage main div div div:nth-child(2) div:nth-child(2),
#Homepage main div div div:nth-child(4) div:nth-child(2) {
    width: calc(var(--percentage) * 0.35);
}
#Homepage main div div div:nth-child(3) div:nth-child(1) {
    width: calc(var(--percentage) * 0.78);
}
#Homepage main div div div:nth-child(3) div:nth-child(2) {
    width: calc(var(--percentage) * 0.22);
}
#Homepage main div div div:nth-child(6) div:nth-child(1) {
    width: calc(var(--percentage) * 0.8);
}
#Homepage main div div div:nth-child(6) div:nth-child(2) {
    width: calc(var(--percentage) / 5);
}
#Homepage main div div div:nth-child(7) div:nth-child(1) {
    width: calc(var(--percentage) * 0.82);
}
#Homepage main div div div:nth-child(7) div:nth-child(2) {
    width: calc(var(--percentage) * 0.18);
}
#Homepage main div div div:nth-child(5) div:nth-child(1) {
    width: calc(var(--percentage) / 6);
}
#Homepage main div div div:nth-child(5) div:nth-child(2) {
    width: calc(var(--percentage) * (5 / 6));
}
