/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tabletCoefficient: 0.729;
    --textSize: calc(var(--percentage) * var(--tabletCoefficient) * 1.61051);
}
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header,
body[class="404"] header,
#Register header,
#Login header,
body[id*="LoginVerification"] header,
#Sign-Out header,
#ForgotPassword header {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main {
    width: calc(var(--percentage) / 2);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 8);
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 8);
}
#Homepage main #notice {
    font-size: calc(var(--textSize) * 0.770301940419);
}
#Homepage main #buttons {
    display: flex;
    margin-top: calc(var(--percentage) / 50);
}
#Homepage main #buttons div {
    display: flex;
    justify-content: center;
    width: calc(var(--percentage) / 2);
    height: fit-content;
}
#Homepage footer,
body[class="404"] footer,
#Register footer,
#Login footer,
body[id*="LoginVerification"] footer,
body[id*="Users"] footer,
#Sign-Out footer,
#ForgotPassword footer,
body[id*="UsersProfile"] footer div:nth-child(2),
body[id*="LeagueOfLegends"] footer {
    font-size: calc(var(--textSize) * 0.9);
}
#Homepage main #buttons div a,
body[id*="UsersProfile"] footer nav a {
    padding: calc(var(--pixelate) / 54 * 0.81)
        calc(var(--pixelate) / 27 * 0.531441);
    margin: calc(var(--pixelate) / 90);
    display: inline-block;
    font-size: var(--textSize);
    box-shadow: 0 calc(var(--pixelate) / 54) calc(var(--pixelate) / 21.6)
        var(--color4);
    background: none;
    background-color: var(--color4);
}
#Homepage main #buttons div a::before,
#Homepage main #buttons div a span,
body[id*="UsersProfile"] footer nav a span,
body[id*="UsersProfile"] footer nav a::before {
    display: none;
}
#Homepage main #buttons div a span,
body[id*="UsersProfile"] footer nav a span {
    background: none !important;
}
#Homepage main #buttons div a:hover,
body[id*="UsersProfile"] footer nav a :hover {
    --color6: rgb(
        var(--percentage),
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.8)
    );
    color: var(--color5);
    background: none;
    background-color: var(--color6);
}
#Register main,
#Login main,
body[id*="LoginVerification"] main,
#ForgotPassword main,
body[id*="UsersEditProfile"] main,
body[id*="UsersAccounts"] main {
    display: flex;
    justify-content: center;
}
#Register main form[method="POST"],
#Login main form[method="POST"],
body[id*="LoginVerification"] main form[method="POST"],
#ForgotPassword main form[method="POST"],
body[id*="Users"] main form[method="POST"] {
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 10);
}
#Register main form[method="POST"] #label,
#Login main form[method="POST"] #label,
body[id*="LoginVerification"] main form[method="POST"] #label,
#ForgotPassword main form[method="POST"] #label,
body[id*="UsersSecurity"] main form[method="POST"] #label,
body[id*="UsersAccounts"] main form[method="POST"] #label {
    font-size: calc(var(--textSize) * 1.8);
}
#Register main form[method="POST"] input,
#Login main form[method="POST"] input,
body[id*="LoginVerification"] main form[method="POST"] input,
#ForgotPassword main form[method="POST"] input,
body[id*="UsersSecurity"] main form[method="POST"] input,
body[id*="UsersAccounts"] main form[method="POST"] input,
body[id*="UsersAccounts"] main form[method="POST"] select {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: calc(var(--percentage) * 0.98);
    font-size: var(--textSize);
    border: none;
    padding: calc(var(--percentage) / 100);
}
#Register main form[method="POST"] #button,
#Login main form[method="POST"] #button,
body[id*="LoginVerification"] main form[method="POST"] #button,
#ForgotPassword main form[method="POST"] #button,
body[id*="UsersSecurity"] main form[method="POST"] #button,
body[id*="UsersAccounts"] main form[method="POST"] #button {
    display: flex;
    justify-content: center;
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Register main form[method="POST"] div button,
#Login main form[method="POST"] div button,
body[id*="LoginVerification"] main form[method="POST"] div button,
#ForgotPassword main form[method="POST"] div button,
body[id*="UsersSecurity"] main form[method="POST"] div button,
body[id*="UsersAccounts"] main form[method="POST"] div button {
    border: none;
    font-size: calc(var(--textSize) * 1.62);
    padding: calc(var(--percentage) / 40) calc(var(--percentage) / 20);
    cursor: pointer;
}
#Register main form[method="POST"] #response h1,
#Login main form[method="POST"] #response h1,
body[id*="LoginVerification"] main form[method="POST"] #response h1,
#ForgotPassword main form[method="POST"] #response h1,
body[id*="Users"] main form[method="POST"] #response h1 {
    margin: calc(var(--percentage) * 0);
    margin-top: calc(var(--percentage) / 50);
}
body[class="404"] main .Error {
    font-size: calc(var(--textSize) * 2);
}
body[class="404"] main #message {
    font-size: calc(var(--textSize) * 1.8);
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
body[class="404"] main .button button {
    font-size: calc(var(--textSize) * 2);
}
body[id*="Users"] header nav,
body[id*="LeagueOfLegends"] header nav {
    display: flex;
}
body[id*="Users"] header nav div,
body[id*="LeagueOfLegends"] header nav div {
    width: calc(var(--percentage) / 4);
}
body[id*="Users"] header nav div:nth-child(1),
body[id*="LeagueOfLegends"] header nav div:nth-child(1) {
    width: calc(var(--percentage) / 2);
}
body[id*="Users"] header nav div a,
body[id*="LeagueOfLegends"] header nav div a {
    font-size: calc(var(--textSize) * 1.458);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersHome"] main {
    display: flex;
    justify-content: space-evenly;
}
body[id*="UsersHome"] main div a img {
    width: auto;
    height: calc(var(--pixelate) / 33.75);
}
#Sign-Out main {
    font-size: calc(var(--textSize) * 1.1);
    margin-bottom: calc(var(--percentage) / 100);
}
#Register footer div:nth-child(1),
#Login footer div:nth-child(1) {
    font-size: calc(var(--textSize) * 0.9);
    margin-bottom: calc(var(--percentage) / 200);
}
body[id*="UsersProfile"] main,
body[id*="UsersSecurity"] main {
    width: calc(var(--percentage) * 0.6);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 5);
    padding: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
body[id*="UsersProfile"] main header,
body[id*="UsersSecurity"] main header {
    display: flex;
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersProfile"] main header #profilePicture,
body[id*="UsersProfile"] main header #profilePicture img,
body[id*="UsersSecurity"] main header #profilePicture,
body[id*="UsersSecurity"] main header #profilePicture img {
    width: auto;
    height: calc(var(--pixelate) / 10.8);
}
body[id*="UsersProfile"] main header #profilePicture i,
body[id*="UsersSecurity"] main header #profilePicture i {
    font-size: calc(var(--textSize) * 4.534);
}
body[id*="UsersProfile"] main header #username,
body[id*="UsersSecurity"] main header #username {
    display: flex;
    align-self: end;
    width: auto;
    font-size: calc(var(--textSize) * 1.1);
}
body[id*="UsersProfile"] main description div {
    display: flex;
    width: var(--percentage);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersProfile"] main description div label {
    width: calc(var(--percentage) / 2);
    font-size: calc(var(--textSize) / 2);
}
body[id*="UsersProfile"] main description div div {
    width: calc(var(--percentage) / 2);
    margin: calc(var(--percentage) * 0);
    display: block;
    font-size: calc(var(--textSize) * 0.6);
}
body[id*="UsersProfile"] footer nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: calc(var(--percentage) / 100);
}
body[id*="UsersEditProfile"] main form[method="POST"] div,
body[id*="UsersEditProfile"] main form[method="POST"] input {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersEditProfile"]
    main
    form[method="POST"]
    input::file-selector-button,
body[id*="UsersEditProfile"]
    main
    form[method="POST"]
    input::-webkit-file-upload-button,
body[id*="UsersEditProfile"] main form[method="POST"] div button {
    border: none;
    padding: calc(var(--percentage) / 40) calc(var(--percentage) / 20);
    font-size: var(--textSize);
}
body[id*="UsersEditProfile"] main form[method="POST"] div {
    text-align: center;
}
body[id*="UsersEditProfile"] main form[method="POST"] #label {
    font-size: calc(var(--textSize) * 1.3122);
}
body[id*="Users"] header nav div a img,
body[id*="LeagueOfLegends"] header nav div a img {
    width: auto;
    height: calc(var(--pixelate) / 33.75);
}
body[id*="UsersSecurity"] main {
    padding-top: calc(var(--percentage) * 0);
    padding-bottom: calc(var(--percentage) / 100);
    width: calc(var(--percentage) * 0.8);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 10);
}
body[id*="UsersSecurity"] main header {
    margin: calc(var(--percentage) * 0);
}
body[id*="UsersSecurity"] main form[method="POST"] input {
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
body[id*="UsersAccounts"] main form[method="POST"] {
    width: calc(var(--percentage) / 2);
}
body[id*="UsersAccounts"] main form[method="POST"] input {
    width: calc(var(--percentage) * 0.77);
    margin: calc(var(--percentage) / 100);
}
body[id*="UsersAccounts"] main form[method="POST"] select {
    width: auto;
    padding: calc(var(--percentage) * 0.007);
}
body[id*="LeagueOfLegends"] main header {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--percentage) * 0.8);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) / 10);
    background: unset;
}
body[id*="LeagueOfLegends"] main header div {
    width: calc(var(--percentage) / 10);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--percentage) / 50) calc(var(--percentage) / 100);
    width: calc(var(--percentage) * 0.98);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div:nth-child(1) {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: var(--percentage);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div:nth-child(2) {
    width: calc(var(--percentage) / 5);
    height: calc(var(--pixelate) / 21.6);
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div:nth-child(3) {
    width: calc(var(--percentage) * 0.8);
    height: fit-content;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div {
    display: block;
}
body[id*="LeagueOfLegends"] main {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div img {
    width: calc(var(--percentage) * 0.96);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 50);
}
body[id*="LeagueOfLegends"] main header div div img {
    height: var(--percentage);
    width: auto;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) {
    width: calc(var(--percentage) / 2);
}
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div:nth-child(4),
body[id*="LeagueOfLegends"] main header div:nth-child(2) div div:nth-child(5) {
    width: calc(var(--percentage) / 2);
    height: fit-content;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(1) div {
    width: var(--percentage);
}
body[id*="LeagueOfLegends"] main header div:nth-child(3) div {
    display: flex;
    width: var(--percentage);
    margin: calc(var(--percentage) / 50) calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(3) div div {
    display: block;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main header div:nth-child(3) div div:nth-child(1) {
    width: calc(var(--percentage) * 0.523044527445);
}
body[id*="LeagueOfLegends"] main header div:nth-child(3) div div:nth-child(2) {
    width: calc(var(--percentage) * 0.476955472555);
}
body[id*="LeagueOfLegends"] main .matchHistory {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--percentage) * 0.9);
    margin: calc(var(--percentage) / 200) calc(var(--percentage) / 20);
}
body[id*="LeagueOfLegends"] main .matchHistory div:nth-child(1) {
    width: calc(var(--percentage) / 20);
    height: calc(var(--pixelate) / 21.6);
}
body[id*="LeagueOfLegends"] main .matchHistory div:nth-child(2) {
    width: calc(var(--percentage) * 0.95);
}
body[id*="LeagueOfLegends"]
    main
    .matchHistory
    div:nth-child(2)
    div:nth-child(1) {
    width: var(--percentage);
    display: flex;
}
body[id*="LeagueOfLegends"]
    main
    .matchHistory
    div:nth-child(2)
    div:nth-child(2) {
    height: calc(var(--pixelate) / 21.6);
}
body[id*="LeagueOfLegends"]
    main
    .matchHistory
    div:nth-child(2)
    div:nth-child(1)
    div {
    width: calc(var(--percentage) / 3);
    text-align: center;
    display: block;
}
body[id*="LeagueOfLegends"] main header div:nth-child(1),
body[id*="LeagueOfLegends"] main header div:nth-child(3) {
    width: calc(var(--percentage) / 4);
}
body[id*="LeagueOfLegends"] main #matchHistory {
    width: calc(var(--percentage) * 0.8);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 10);
}
body[id*="LeagueOfLegends"] main #matchHistory div {
    display: flex;
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main #matchHistory div div:nth-child(1) {
    width: calc(var(--percentage) / 5);
    display: flex;
    align-content: center;
    justify-content: center;
    margin: calc(var(--percentage) * 0);
    flex-wrap: wrap;
}
body[id*="LeagueOfLegends"] main #matchHistory div div:nth-child(2) {
    width: calc(var(--percentage) * 0.8);
    display: block;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"] main #matchHistory div div:nth-child(1) img {
    width: auto;
    height: calc(var(--pixelate) / 10.8);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(1) {
    display: flex;
    width: var(--percentage);
    align-content: unset;
    justify-content: unset;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(1)
    div {
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--percentage) / 5);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    font-size: calc(var(--textSize) * 0.81);
    align-items: center;
    justify-content: center;
    height: auto;
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(2) {
    display: flex;
    width: var(--percentage);
    height: calc(var(--pixelate) / 21.6);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(2)
    div {
    display: block;
    width: calc(var(--percentage) / 6);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(2)
    div {
    display: flex;
    width: calc(var(--percentage) / 7);
    justify-content: center;
    margin: calc(var(--percentage) * 0);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(2)
    div
    img {
    height: calc(var(--pixelate) / 21.6);
    width: auto;
}
body[id*="LeagueOfLegends"] main header div:nth-child(4) form {
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 4);
    width: calc(var(--percentage) / 2);
    display: flex;
}
body[id*="LeagueOfLegends"] main header div:nth-child(4) form input {
    border: none;
    width: calc(var(--percentage) * 0.82);
}
body[id*="LeagueOfLegends"] main header div:nth-child(4) form button {
    border: none;
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 20);
    font-size: var(--textSize);
}
body[id*="LeagueOfLegends"] main header div:nth-child(4) {
    width: var(--percentage);
}
body[id*="LeagueOfLegends"]
    main
    #matchHistory
    div
    div:nth-child(2)
    div:nth-child(1)
    div
    div {
    width: var(--percentage);
    height: auto;
}
body[id*="LeagueOfLegends"] {
    position: relative;
}
body[id*="LeagueOfLegends"]::before {
    content: " ";
    display: block;
    position: fixed;
    left: calc(var(--percentage) * 0);
    top: calc(var(--percentage) * 0);
    width: var(--percentage);
    height: var(--percentage);
    opacity: var(--percentage);
    background-image: url("../Images/be2f2789-eff1-4996-8bc8-dddaff956669.jpg");
    background-repeat: no-repeat;
    background-position: calc(var(--percentage) / 2) calc(var(--percentage) * 0);
    background-size: cover;
}
body[id*="LeagueOfLegends"] header,
body[id*="LeagueOfLegends"] main,
body[id*="LeagueOfLegends"] footer {
    position: relative;
}
body[id*="LeagueOfLegends"] header,
body[id*="LeagueOfLegends"] footer {
    background-color: var(--color1);
}
