/* Variables */
:root {
    --percentage: 100%;
    --color1: rgb(var(--percentage), var(--percentage), var(--percentage));
    --color2: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0)
    );
    --color3: rgb(
        calc(var(--percentage) / 16),
        calc(var(--percentage) / 16),
        calc(var(--percentage) / 16)
    );
    --color4: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2),
        var(--percentage)
    );
    --color5: rgb(
        calc(var(--percentage) / 2),
        calc(var(--percentage) / 2),
        calc(var(--percentage) / 2)
    );
}
body {
    font-family: sans-serif;
    color: var(--color2);
    background-color: var(--color1);
}
header {
    background-color: var(--color3);
    color: var(--color1);
}
main header {
    background-color: var(--color1);
    color: var(--color3);
}
main header div:nth-child(2) a,
body[id*="Customers"] main div a,
main div div div a,
main header div:nth-child(3) a,
header div:nth-child(2) a {
    color: var(--color4);
    text-decoration: none;
}
main header div:nth-child(2) a:hover,
body[id*="Customers"] main div a:hover,
header div:nth-child(2) a:hover {
    text-decoration: underline;
}
main div div:nth-child(1) div {
    font-weight: bold;
}
footer {
    text-align: center;
}
body[id*="Customers"] main form div div:nth-child(1) {
    font-weight: bold;
}
body[id*="Customers"] main form div:nth-child(6) div:nth-child(2) div {
    font-weight: normal;
}
body[id*="Customers"] main form div:nth-child(7) button,
#Factorial main form div button {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
}
body[id*="Customers"] main form div:nth-child(7) button:hover,
#Factorial main form div button:hover {
    background-color: var(--color1);
    color: var(--color2);
}
main div div div {
    font-weight: normal;
}
main div div div a:hover {
    color: var(--color2);
}
main header div:nth-child(3) input::placeholder {
    color: var(--color5);
}
main header div:nth-child(3) a:hover {
    color: var(--color5);
}
